.containerCharacterView {
  /* display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "characterContainer"
    "diceHistorical"; */
}
.diceHistorical {
  grid-area: diceHistorical;
  overflow: auto;
  background-color: #ffffff;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
.diceHistorical::-webkit-scrollbar {
  /* display: none; */
}
/* width */
.diceHistorical::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.diceHistorical::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.diceHistorical::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

.characterContainer {
  grid-area: characterContainer;
  grid-gap: 10px;
}
.headDetails {
  grid-area: headDetails;
}
.characterDetails {
  display: grid;
  grid-area: characterDetails;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headDetails"
    "healthDetails"
    "descriptionDetails"
}
.healthDetails {
  grid-area: healthDetails;
}
.descriptionDetails {
  grid-area: descriptionDetails;
}
.descriptionDetails p{
  display: flex;
  align-items: flex-end;
}
.characteristicsDetail {
  grid-area: characteristicsDetail;
}
.characteristicsDetail ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.characteristicsDetail ul li {
  background-color: #1b1d29;
  margin: 10px 5px;
  color: white;
  border-radius: 4px 4px 50px 50px;
  width: 90px;
  height: 105px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.characteristicsDetail ul li span.title {
  font-size: 12px;
}
.characteristicsDetail ul li span.subtitle {
  font-size: 12px;
  margin-top: -20px;
}
.characteristicsDetail ul li span.value {
  font-size: 40px;
  margin-top: -20px;
}
.DMContainer {
  display: flex;
  align-items: center;
}
.DMContainer h1{
  margin: 10px 10px 10px 0;
}
.skillsDetail {
  grid-area: 'skillsDetail';
}
.skillsDetail ul {
    border-radius: 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
    margin: 0 0 20px 0;
    /* border: 1px solid #353535; */
}
.skillsDetail ul li {
  border-bottom: 1px solid #1b1d29;
  /* margin-bottom: 7px; */
  /* padding-bottom: 7px; */
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.skillsDetail ul li:last-child {
  border-bottom: 0px solid #1b1d29;
}
.skillsDetail ul li span {
  font-size: 14px;
  color: #1b1d29
}
.inventory {
  grid-area: inventory;
  display: none;
}
.characterContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "characterDetails"
    "characteristicsDetail"
    "skillsDetail"
    "inventory"
    "containerHisto";
}
.linkChatContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.headDetails {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.openChat {
  background-color: transparent;
  padding: 0;
  color: #1b1d29;
  box-shadow: none;
}
.iconChat {
  height: 45px;
}
.iconEdit{
  height: 30px;
}
.iconInvLarge {
  height: 30px;
  margin: 0px 5px;
}
.iconDescriptionOpen{
  height: 15px;
  color: #969595;
}
/* .editLink {
  align-self: flex-end;
} */
.nameContainer {
  display: flex;
  align-items: center;
}
.nameContainer h2{
  margin: 10px 10px 10px 0;
}
.containerHisto {
  grid-area: containerHisto;
  height: 100%;
}

table tr td {
  width: 250px;
}
table tr td:last-child {
  text-align: right;
}
.infoDmView {
  margin-left: 10px;
  color:#007991;
  font-size: 20px;
}
.mobileInv {
  display: flex;
  justify-content: center;
  align-content: center;
}
.fullButton span {
  margin: 0 5px;
}
.list a.link {
  text-decoration: underline;
}
.iconEdit{
  color: #ffad23;
}
.characterPicture {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 10px 20px;
  background-repeat: no-repeat;
}
.containerPicture {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.containerPicture div:first-child {
  margin-bottom: 10px;
}
@media (min-width: 800px) {
  .inventory {
    display: block;
  }
}
@media (min-width: 1000px) {
  /* .characterDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
  .characterContainer {
    grid-template-columns: 1fr 3fr 2fr;
    width: 85%;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "characterDetails characterDetails containerHisto"
      "characteristicsDetail skillsDetail containerHisto"
      "characteristicsDetail inventory containerHisto"
  }
  .containerCharacterView {
    display: flex;
    justify-content: center;
  }
  .characteristicsDetail ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .titleSection{
    display: none;
  }
  .characteristicsDetail {
    padding: 0 20px;
  }
  .skillsDetail {
    padding: 0 20px;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  .skillsDetail ul {
    margin: 0;
    width: 500px;
  }
  .containerPicture {
    display: flex;
    flex-direction: row;
  }
}