.containerCharacters {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "listCharacters"
    "newCharacterForm";
}
.listCharacters {
  grid-area: listCharacters;
}
.newCharacterForm {
  grid-area: newCharacterForm;
}
.defaultInformation {
  grid-area: defaultInformation;
}
.skillsContainer {
  grid-area: skillsContainer;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  grid-template-areas:
    "createCharacterButton"
    "skills";
}
.createCharacterButton {
  grid-area: createCharacterButton;
}
.characteristics {
  grid-area: characteristics;
}
.characteristics label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.defaultInformation label.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textAreaDescription {
  height: 100px;
  margin: 5px 0;
  width: calc(100% - 5px);
  border-left: 1px solid #353535;
  display: block;
}
input[type=text].nameNewCharacter {
  margin: 5px 0px;
  width: calc(100% - 5px);
  display: block;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list li {
  margin: 10px;
}
.skillRow {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.skillRow div {
  /* margin-left: 10px; */
}
.skillRow input[type=number] {
  margin: 0 0 5px 5px;
  align-self: flex-end;
  justify-self: flex-end;
}
.skillRow label input {
  min-width: 25px;
}
.newCharacterForm {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "listCharacters"
    "newCharacterForm";
}
.formNewCharacter {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "defaultInformation"
    "characteristics"
    "skillsContainer";
}
.inputCharacteristics, .inputSkills {
  width: 50px;
}

.tutoCreation ul {
  list-style-type: circle;
  padding-inline-start: 20px;
}
.tutoCreation ul li {
  margin-bottom: 5px;
}
.tutoCreation {
  background-color: #62a3b9;
  padding: 10px;
  margin-left: -20px;
  margin-right: -20px;
}
.tutoCreation p {
  margin-top: 0;
  margin-bottom: 5px;
}
.tutoCreation span, .tutoCreation p, .tutoCreation ul li{
  color: #fff
}

@media (min-width: 500px) {
  .containerCharacters {
    grid-template-areas:
      "listCharacters"
      "newCharacterForm";
  }
  .textAreaDescription {
    min-height: 100px;
    max-width: 490px;
    min-width: 490px;
  }
  input[type=text].nameNewCharacter {
    margin: 5px 0px;
    width: auto;
    display: inline-block;
  }
  .skillsContainer {
    justify-content: flex-start;
  }
  .textAreaDescription {
    min-height: 100px;
    max-width: 80%;
    min-width: 80%;
  }
  .tutoCreation {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
  }
}
@media (min-width: 800px) {
  .containerCharacters {
    grid-gap: 20px;
    grid-template-areas:
      "listCharacters"
      "newCharacterForm";
   }
   .formNewCharacter {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-gap: 20px;
  }
  input[type=text].nameNewCharacter {
    margin: 5px 0px;
    width: auto;
    display: inline-block;
  }
  .textAreaDescription {
    min-height: 100px;
    max-width: 490px;
    min-width: 490px;
  }
  .characteristics {
    grid-area: characteristics;
    max-width: auto;
  }
}
@media (min-width: 1300px) {
  .formNewCharacter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "defaultInformation  skillsContainer"
      "characteristics skillsContainer"
      "characteristics skillsContainer";
  }
}
