.formUpdateCharacter {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.formUpdateCharacter label{
  align-items: center;
}
.labelFormUpdate {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input[type="submit"] {
  align-self: flex-end;
  border-radius: 0 !important;
}
.editBlock {
  /* background-color: #fff; */
  padding: 5px 15px;
  margin: 10px 0;
}
.columnForm {
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
label{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input[type='number'] {
  flex: 1
}
input[type=text].editNameSkill {
  margin: 5px 0;
  padding: 1px 0px;
  flex: 3
}
input[type=text].editValueSkill {
  text-align:right;
  flex: 1;
}
span.labelSkillUneditable {
  align-self: center;
  flex: 3
}
@media (min-width: 1000px) {
  .containerEditSkill {
    width: 50%;
  }
  input[type=text].editNameSkill {
    flex: 1
  }
  input[type=text].editValueSkill {
    flex: 1
  }
  span.labelSkillUneditable {
    flex: 1
  }
  input[type="submit"] {
    align-self: flex-end;
    border-radius: 4px !important;
  }
  input[type='number'] {
    flex: initial
  }
  .formUpdateCharacter {
    margin: 0;
    display: flex;
  }
  textarea.textAreaDescription {
    width: calc(100% - 5px);
  }
  .editContainer {
    width: 70%;
    margin: auto;
  }
}