header {
  background-color: #284B63;
  height: 60px;
  color: #fff;
  display: grid;
  align-items: space-between;
}
.header {
  width: 100%;
  margin: auto;
  display: grid;
  align-items: space-between;
  grid-template-areas: "logo name log";
}
.header button {
  box-shadow: none;
}
.name {
  display: flex;
  align-self: center;
  justify-self: center;
}
.log {
  display: flex;
  justify-self: flex-end;
}
.log button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log button span {
  margin: 0 5px;
}
.logo {
  display: flex;
  align-self: center;
}
.logo {
  grid-area: logo
}
.userName {
  grid-area: name;
}
.log {
  grid-area: log;
}
.homeLink {
  width: 30px;
  padding: 7px 14px;
}
.homeLinkIcon {
  color: #fff;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content .btnDrop {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  width: 100%;
  text-align: start;
}

.dropdown-content .btnDrop:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
@media (min-width: 700px) {
  .header {
    width: 85%;
  }
}