.headerBar {
  color: "white";
  background-color: "#14213D";
  padding: "15px";
}
.button {
  padding: 5;
  background-color: 'transparent';
  border-width: 1,;
  border-color: '#fff';
  color: '#fff';
}