html, body {
  height: 100%;
  /* background: none; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button ~ button {
  margin-left: 20px;
} */
.rightPanel {
  grid-area: rightP;
  background: url('../assets/Images/backLogin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.rightPanel h2 {
  color: #ffffffa6;
  margin-bottom: 45px;
  font-size: 1em;
}
.rightPanel h1 {
  color: #fff;
  font-size: 3em;
}
.rightPanel .loginLogoMobile {
  width: 30%;
}
.leftPanel {
  display: none;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  grid-area: leftP;
  background: url('../assets/Images/backLogin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leftPanel h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 3.7em;
}
.leftPanel p {
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}
.leftPanel img {
  max-width: 150px;
}
.rightPanel {
  display: flex;
  justify-content: center ;
  align-items: center;
  grid-area: rightP;
}
.leftPanel button {
  animation-duration: 1s;
  animation-name: slideinButton;
  animation-timing-function: ease-in-out;
}
.wrapperLogin {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "rightP";
}
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
  
.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

@keyframes slideinCharacter {
  from {
    left: 150px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes slideinButton {
  from {
    justify-content: center ;
    opacity: 0;
  }

  to {
    justify-content: flex-end ;
    opacity: 1;
  }
}

@media (min-width: 700px) {

}
@media (min-width: 900px) {
  .rightPanel h2 {
    color: #1b1d29;
    margin-bottom: 45px;
  }
  .rightPanel h1 {
    display: none;
  }
  .rightPanel .loginLogoMobile {
    display: none;
  }
  .leftPanel {
    display: flex;
  }
  .rightPanel {
    background: #fff;
  }
  .wrapperLogin {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "leftP  rightP";
  }
}